@charset "UTF-8";

/* 헤더 구역 스타일 */
.hd { clear:both; position:relative; width: 100%; height: 160px; background-color: #fffcf2; }
.hd_wrap {
    height: 35px;
    clear: both;
    width: 100%;
}
.hd_wrap:first-child {  background-color: #fffcf2; }
.hd_wrap:last-child { background-color: #fffcf2; width: 1200px;
margin: 0 auto; }

.tnb { width: 1200px; margin: 0 auto; }
.tnb::after { content:""; clear:both; display:block; width:100%; }
.tnb .menu { float:right; height: 40px; margin:auto; line-height: 40px; }
.tnb .menu li { float:left; padding-left: 40px; }

.logo { display:block; width:auto; height:50px; float:left; }
.logo img {
    margin-left: -110px;
    margin-top: -20px;
    display: block;
    width: 205px;
    height: 250%;
}

.gnb { width:900px; margin: 0 auto; height: 50px; }
.gnb::before { content:""; display:none; width:100vw; height:210px;
    background-color:white; position:absolute;
    left: 0; top:145px; z-index:15; }
.gnb:hover::before { display:block; }
.gnb .menu { clear:both; height: 50px; position:relative; }
.gnb .menu::after { content:""; clear:both; width: 100%; display:block; }
.gnb .menu li { float:left; width:20%; position:relative; height: 50px; }
.gnb .menu li .sub { opacity:0; position:absolute; width: 180px;
    height: 200px; top:60px;  left: 0; z-index:999; transition:0.3s; }
.gnb .menu li a.dp1 { display:block; width:100%;
    line-height: 50px; border-bottom:2px solid #fff;
    text-align: center; background-color: #fffcf2; }
.gnb .menu li:hover a.dp1 { border-bottom:2px solid #fffcf2;
    background-color: #996633; color:#fff; }
.gnb .menu:hover li .sub { visibility: visible; height: 240px; opacity:1; }
.gnb .menu li .sub li { padding-left:0px; line-height: 34px; clear:both;
    width:180px; }
.gnb .menu li .sub li a { display:block;
    width: 180px; text-align: center; line-height: 34px;
    white-space:nowrap; text-overflow: ellipsis; overflow:hidden;
    padding-left: 8px; padding-right: 8px; box-sizing: border-box; }
.gnb .menu li .sub li:hover a { background-color:rgba(200,200,200,0.9); }

#searchLink {
    margin-left: 35px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

#searchLink a {
    display: inline-block;
    background: url("images/glass.png") no-repeat center center;
    background-size: cover;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
}
